version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kqueue_laravel_test
    volumes:
      - ./laravel-app:/var/www
      - ../:/kqueue-package
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    tty: true
    stdin_open: true

  redis:
    image: redis:7-alpine
    container_name: kqueue_redis
    ports:
      - "6379:6379"
